/target/
/artifacts/
/.idea/
.DS_Store
*.log
java/gbase8s-ipc-driver/target/
java/gbase8s-ipc-driver/bin/lib/gbase8s-ipc-driver.jar
extensions/remote-desktop/rdp-helper/target/
extensions/remote-desktop/vnc-helper/target/

extensions/wasm/*/target/
*.wasm
!extensions/language/*/parser.wasm
.worktrees/
